spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/subscriptions_db
    username: user
    password: password

  redis:
    host: redis
    port: 6379

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

    app:
      build: .
      container_name: subscriptions-api
      restart: always
      depends_on:
        postgres:
          condition: service_healthy
        redis:
          condition: service_healthy
        rabbitmq:
          condition: service_healthy
      ports:
        - "8080:8080"
      environment:
        # Ativa o perfil docker
        SPRING_PROFILES_ACTIVE: docker
      networks:
        - subscriptions-network