spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/subscriptions_db
    username: user
    password: password

  data:
    redis:
      repositories:
        enabled: false

  redis:
    host: redis
    port: 6379

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

logging:
  level:
    org.flywaydb: DEBUG

SPRING_PROFILES_ACTIVE: docker